<%= form_for @meal, :html => { :class => 'form-horizontal' } do |f| %>
  
  <div class="control-group">
    <%= f.label 'Apéritif', :class => 'control-label', :for => 'aperitif'%>
    <div class="controls">
      <%= f.text_field :aperitif, :class => 'text_field', :id => 'aperitif' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label 'Entrée', :class => 'control-label', :for => 'starter'%>
    <div class="controls">
      <%= f.text_field :starter, :class => 'text_field', :id => 'starter' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label 'Plat', :class => 'control-label', :for => 'course'%>
    <div class="controls">
      <%= f.text_field :course, :class => 'text_field', :id => 'course' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label 'Dessert', :class => 'control-label', :for => 'dessert'%>
    <div class="controls">
      <%= f.text_field :dessert, :class => 'text_field', :id => 'dessert' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label 'Notes', :class => 'control-label', :for => 'notes' %>
    <div class="controls">
      <%= f.text_area :notes, :class => 'text_area', :id => 'notes', :rows => '3' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Enregistrer", :class => 'btn btn-primary' %>
    <%= link_to "Annuler",
                meals_path, :class => 'btn' %>
  </div>
<% end %>
